.batchList {
  background-color: #FFFFFF;
  margin-top: 15px;
}
.batchHeader {
  font-size: 12px;
}
.batchItem {
  font-size: 12px;
}
.batchItemColumn {
  padding: 10px 0;
}
.batchDetailContainer {
  background-color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.batchContainer {
  background-color: #FFFFFF;
  margin-top: 15px;
}
.uploadContainer {
  padding: 15px;
  text-align: center;
}
.fileUpload {
  width: 200px;
  height: 200px;
  border: 2px dashed #666666;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
