{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current"
      },
      "useBuiltIns": true
    }],
    "es2017",
    "react"
  ],
  "plugins": ["transform-runtime", "transform-class-properties"]
}
