.batchList {
  background-color: #FFFFFF;
  padding: 10px;
  margin-top: 10px;
}
.batchHeader {
  font-size: 12px;
}
.batchItem {
  font-size: 12px;
}
.batchItemColumn {
  padding: 10px 0;
}
.batchDetailContainer {
  background-color: #FFFFFF;
  margin-top: 1rem;
}
